.title {
    padding-left: 40px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', sans-serif;

}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px
}