:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
        'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
        'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --primary-glow: conic-gradient(from 180deg at 50% 50%,
            #16abff33 0deg,
            #0885ff33 55deg,
            #54d6ff33 120deg,
            #0071ff33 160deg,
            transparent 360deg);
    --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0));

    --tile-start-rgb: 239, 245, 249;
    --tile-end-rgb: 228, 232, 233;
    --tile-border: conic-gradient(#00000080,
            #00000040,
            #00000030,
            #00000020,
            #00000010,
            #00000010,
            #00000080);

    --callout-rgb: 238, 240, 241;
    --callout-border-rgb: 172, 175, 176;
    --card-rgb: 180, 185, 188;
    --card-border-rgb: 131, 134, 135;
    --header-height: 0px;
    --header-height-samllerscreen: 220px;
    --header-height-samllscreen: 190px;
    --header-height-largescreen: 65px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    font-family: var(--font-mono);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 0 16px;
}

main {
    margin-top: calc(var(--header-height) + 16px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    min-height: calc(100vh - var(--header-height));
}

a {
    color: inherit;
    text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background-start-rgb: 10, 10, 10;
        --background-end-rgb: 20, 20, 20;

        --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
        --secondary-glow: linear-gradient(to bottom right,
                rgba(1, 65, 255, 0.1),
                rgba(1, 65, 255, 0.2));
    }

    html {
        background: linear-gradient(to bottom, rgba(10, 10, 10, 0.8), rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    }
} */

@media (min-width: 346px) {
    :root {
        --header-height: var(--header-height-samllerscreen);
    }

    header {
        font-size: 10px;
        padding: 0 8px;
    }

    main {
        padding: 8px;
    }
}

@media (max-width: 991.98px) {
    :root {
        --header-height: var(--header-height-samllscreen);
    }

    header {
        font-size: 14px;
        padding: 0 12px;
    }

    main {
        padding: 12px;
    }
}

@media (min-width:991.98px) {
    :root {
        --header-height: var(--header-height-largescreen);
    }

    header {
        font-size: 16px;
        padding: 0 20px;
    }

    main {
        padding: 16px;
    }
}